<div class="container">
  <div class="line">
    <mat-divider></mat-divider>
  </div>
    <span class="event-name">
      <p class="event-times"><button aboutHover id="b1" class="btn custom-btn">May-2019</button></p>
      <span class="filler"></span>
      <p class="event-times"><button aboutHover id="b2" class="btn custom-btn">May-2023</button></p>
      <span class="filler"></span>
      <p class="event-times"><button aboutHover id="b3" class="btn custom-btn">July-2023</button></p>
    </span>
  <div class="line">
    <mat-divider></mat-divider>
  </div>
</div>
<!-- <div class="horizontal-timeline">
    <div class="timeline-container">
      <div *ngFor="let event of AllEvents" class="event">
        <div class="date">{{ event.date }}</div>
        <div class="title">{{ event.title }}</div>
        <div class="description">{{ event.description }}</div>
      </div>
    </div>
</div> -->