<div class="connect-container">
    <form (submit)="onSent()">
        <input mdbInput [(ngModel)]="name" 
                [ngModelOptions]="{standalone: true}" 
                type="text" class="form-control" id="text" style="width: 70%;"/>
        <label mdbLabel class="form-label" for="text">Name</label>
        
        <input mdbLabel [(ngModel)]="email" 
                [ngModelOptions]="{standalone: true}" 
                type="email" class="form-control" style="width: 70%;"/>
        <label mdbInput class="form-label" for="typeEmail">Email</label>
        
        <textarea mdbInput [(ngModel)]="msg" 
                [ngModelOptions]="{standalone: true}" 
                class="form-control" rows="4" style="width: 70%;"></textarea>
        <label mdbLabel class="form-label" for="textAreaExample">Message</label>
        
        <br>
        <button type="submit" class="btn btn-primary" style="align-self: center;" (click)="generateMailtoLink()">Submit</button>
    </form>
</div>


<!-- <form (ngSubmit)="onSubmit(FormData.value)">
    <label mdbLabel class="form-label" for="typeText">Name</label>
    <input mdbInput type="text" id="name" class="form-control"/>

    <label mdbInput class="form-label" for="typeEmail">Email</label>
    <input mdbLabel type="email" id="email" class="form-control" />

    <label mdbLabel class="form-label" for="textAreaExample">Message</label>
    <textarea mdbInput class="form-control" id="msg" rows="4"></textarea>

    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<!-- <label mdbLabel class="form-label" for="typeText">Name</label>
<input mdbInput type="text" id="typeText" class="form-control"/>

<label mdbInput class="form-label" for="typeEmail">Email</label>
<input mdbLabel type="email" id="typeEmail" class="form-control" />

<label mdbLabel class="form-label" for="textAreaExample">Message</label>
<textarea mdbInput class="form-control" id="textAreaExample" rows="4"></textarea> -->