.one{
    position: sticky;
    background-attachment: fixed;
    background-color: #d4eecb;
    /* background-color: #57D131; */
    height: 100svh;
    top: 0;
    /* background-color: 100s; */
}
.two{
    height: 100%;
    background-attachment: fixed;
    background-color: 1s ease;
    background-color: #e1e7d3;
    /* background-color: #B9E937; */
}
/* .bgAnimation{
    background-size: cover;
    width: 100%;
    height: 100%;
} */
/* .line{
    border-left: 6px dashed #A555EC;
    height: 100vh;
    position: absolute;
    left: 50%;
    margin-left: -25vw;
    top: 0;
} */